.modal-content{

    height: 350px;

    width: 450px;

    border-radius: 20px;

		  

}

.modal-content>img{

    height: 350px;

    width: 450px;

    border-radius: 20px;

}

.modal-dialog{

    position: fixed;

    left: 50vw;

    top: 50vh;

    /*transform: translate(-50%,-50%);*/

    height: 350px;

    width: 450px;

    border-radius: 20px;

    margin-left: 0 ;

    margin-top: 0 ;

    animation: glide 1s;

}

@keyframes glide {

    from {

        transform: translate(-50%, -600px); /* Start from above the screen */

    }

    to {

        transform: translate(-50%, -50%); /* End at the final position */

    }

}
